/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header Styles */
  header {
    background-color: #0F4C75;
    padding: 10px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .nav-links li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  /* Hero Section Styles */
  .hero {
    background-image: url('img/4.avif');
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    padding: 100px 0;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #F9AA33;
    color: #FFFFFF;
    font-size: 20px;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .cta-button:hover {
    background-color: #FFFFFF;
    color: #F9AA33;
  }
  
  /* Features Section Styles */
  .features {
    background-color: #FFFFFF;
    padding: 80px 0;
    text-align: center;
  }
  
  .features h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .feature-card {
    display: inline-block;
    width: 30%;
    margin-bottom: 40px;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .feature-card img {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .feature-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .feature-card p {
    font-size: 16px;
  }
  
  /* Footer Styles */
  footer {
    background-color: #0F4C75;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
  }
  